html {
  font-size: 62.5%;
}

body {
  user-select: none;
}

header.iq-layout-header {
  padding: 0.8rem;
}

header.iq-layout-header .header-button {
  margin-right: 0.8rem;
}

header.iq-layout-header .header-button .header-settings-button {
  margin-left: 0.8rem;
}

header.iq-layout-header .iq-header-extra {
  flex: none;
  flex-direction: row;
}

header.iq-layout-header .iq-header-title p {
  color: var(--iq-color);
  font-weight: 400;
}

footer.iq-layout-footer {
  padding: 0.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 80%;
  text-transform: uppercase;
}

.konva-wrapper {
  width: 100%;
  text-align: center;
}

.konva-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.konva-wrapper .konva-container {
  display: inline-block;
  vertical-align: middle;
  touch-action: manipulation;
}

.konva-container .letter {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.konva-container .letter .symbol {
  font-size: 3.6rem;
  line-height: 1;
  font-weight: 300;
  margin: 0 3.2rem;
}

.konva-container .letter button:first-child {
  transform: rotate(180deg);
}

.konva-container .footer {
  padding: 1.6rem;
}

.konva-container .footer button {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 120%;
  height: 3.6rem;
  margin: 0;
}

.konva-container .footer button:first-child {
  margin-right: 3.2rem;
}




.segments-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 1.6rem;
}

.segment {
  margin: 1.6rem;
  box-shadow: var(--iq-elevation-3-shadows);
  background: var(--iq-scrollbar);
  overflow: hidden;
  border-radius: 0.4rem;
}

.segment .header {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
}

.segment .header .title {
  font-size: 1.6rem;
  font-weight: 700;
  width: 4rem;
  line-height: 3rem;
  flex: 1;
}

.segment .header .preview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.segment .header .title small {
  line-height: 1;
  font-size: 70%;
  opacity: 0.5;
}

.segment .header .iq-input {
  width: 4rem;
  margin: 0;
  background: transparent;
}
.segment .header .iq-input input {
  text-align: center;
  color: var(--iq-divider);
  padding: 0.4rem 0.4rem 0.2rem 0.4rem;
  line-height: 2.2rem;
}
.segment .header .iq-input .iq-button {
  display: none;
}
.segment .header .iq-input .bar {
  /*display: none;*/
}

.segment .konva-wrap {
  box-sizing: content-box;
  background: transparent !important;
  display: flex;
  justify-content: center;
  min-width: 16rem;
}

.segment .konva {
  box-sizing: border-box;
}
