html {
  font-size: 62.5%;
}

header.iq-layout-header {
  padding: 0.8rem;
}

header.iq-layout-header .header-button {
  margin-right: 0.8rem;
}

header.iq-layout-header .header-button .header-settings-button {
  margin-left: 0.8rem;
}

header.iq-layout-header .iq-header-extra {
  flex: none;
  flex-direction: row;
}

header.iq-layout-header .iq-header-title p {
  color: var(--iq-color);
  font-weight: 400;
}

footer.iq-layout-footer {
  padding: 0.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 80%;
  text-transform: uppercase;
}

.konva-wrapper {
  width: 100%;
  text-align: center;
}

.konva-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;

}

.konva-wrapper .konva-container {
  display: inline-block;
  vertical-align: middle;
}
